.carousel-control-prev:focus,
.carousel-control-next:focus {
    outline: none;
    box-shadow: none;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent;
}

.carossel-slide {
    margin-top: 56px;
}